/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  &-link {
    @include nav-link;
    transition: background-color .3s ease-in-out,
    color .3s ease-in-out;
      &:hover {
        color: $white;
        background-color: $color-primary;
      }
  }
}
